@{
    ViewData["Title"] = "ABOUT";
}
<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/images/favicon.png" type="">

    

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="/text/css" href="/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="/text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- font awesome style -->
    <link href="/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/responsive.css" rel="stylesheet" />

</head>

<body class="sub_page">
    <!-- about section -->

    <section class="about_section layout_padding">
        
            
                <h2>
                    About <span>Us</span>
                </h2>
                <p>
                    At Haxwaves, we are passionate about transforming businesses through innovative IT solutions. With years of industry experience,<br>
                    we have become a trusted partner for companies looking to optimize their technology and drive growth.
                </p>
            
            <div class="row">
                <div class="col-md-6 ">
                    <div class="img-box">
                        <img src="/images/about-img.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                <div class="detail-box" style="text-align:left ;box-shadow: 0 50px 100px rgb(11 23 137 / 50%);
                     padding: 20px";>
                        <h3>
                            Our Mission
                        </h3>
                        <p>
                            Our mission is to empower businesses with cutting-edge IT advisory services that enhance performance, security, and efficiency.We strive to deliver tailored solutions that meet the unique needs of each client, ensuring they stay ahead in a competitive market.
                            
                        </p>
                        <span id="more-text" style="display: none;">
                            <h4>Our Vision

                            </h4>
                            We envision a future where businesses of all sizes can harness the full potential of technology to achieve their goals.By continuously evolving and adapting to the latest trends and advancements, we aim to be at the forefront of the IT advisory industry, setting new standards of excellence
                      
                            <h4>
                                <br>Our Team</h4>
                            Our team consists of dedicated professionals with diverse expertise in various IT domains.From seasoned consultants and cybersecurity experts to cloud architects and software developers, each member brings a wealth of knowledge and a commitment to delivering exceptional results.,Together, we work collaboratively to solve complex challenges and drive success for our clients.
                            <br>
                            <br>Trust Haxwaves to be your partner in navigating the ever-changing landscape of technology, and let us help you unlock new opportunities for growth and innovation.
                        </span>
                        <a href="#" id="read-more" onclick="toggleReadMore()">Read More</a>
                    </div>
                </div>
            </div>
        
    </section>

    <!-- end about section -->
    <!-- info sectio

    <!-- end info section -->
    <!-- footer section -->
    
    <!-- footer section -->
    <!-- jQery -->
    <script type="/text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <!-- bootstrap js -->
    <script type="/text/javascript" src="/js/bootstrap.js"></script>
    <!-- owl slider -->
    <script type="/text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <!-- custom js -->
    <script type="/text/javascript" src="/js/custom.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
    </script>
    <script src="/js/site.js"></script>
    <!-- End Google Map -->

</body>

</html>