<section class="service_section layout_padding">
    <div class="service_container">
        <div class="container" style = "box-shadow: 0 50px 100px rgb(0 241 255 / 50%)">
            <div class="heading_container heading_center">
                <h2>
                    Our <span>Services</span>
                </h2>
                <p>
                    At Haxwaves, we offer a comprehensive range of IT services designed to support and elevate your business:
                </p>
            </div>
            <div class="row">
                <div class="col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="/images/s1.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Low Cost Solutions
                            </h5>
                            <p>
                                Explore practical, budget-friendly solutions designed to help businesses achieve their objectives efficiently, whether you're a startup or seeking to optimize costs
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="/images/s2.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Security Storage
                            </h5>
                            <p>
                                Security storage is essential to ensure that sensitive data is protected from unauthorized access, corruption, and theft.Here are some key points to consider for effective security storage:
                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="/images/s3.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Expert Support
                            </h5>
                            <p>
                                Our expert support services are designed to provide you with the guidance and assistance you need to succeed. Whether you're facing technical challenges or need strategic advice.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <a href="">
                    View All
                </a>
            </div>
        </div>
    </div>
</section>
